/* This rule will apply to all sections within the page */
#product-overview {
  /* selector*/
  background-color: red; /* declaration */
}

h1 {
  color: white;
  /* font-family: sans-serif; it uses the one set on the browser (On google Chrome this can be checked on Settings > Customize Fonts */
  font-family: "Anton", sans-serif;
}

/* kebab case*/
.section-title {
  color: #2ddf5c;
}
